.DS_Store
/data
store_sql.ipynb
gorkha.db
Project_writeup.md
/images/preliminary_results.xlsx
/archive
/final.ipynb
/models
~$preliminary_results.xlsx
/app/app_test.py
/app/mini_model.ipynb
Ensemble_Methods.ipynb
eq_model_copy.ipynb